:root{
  --backgroun-color:#121212;
  --primary-color:#1e1e1e;
  --secondary-color:#4a4d57;
  --accent-color:#00ffca;
  --text-color:#f9f9f9;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16pt;
  color: var(--text-color);
 

}

body{
  background: var(--backgroun-color);
  min-height: 100vh;
  min-height: 100dvh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper{
  width: min(85em,80vw);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  

}
form{
  position: relative;
}
.controls {
  width: min(80em,80vw);
  flex-direction: row;
  align-items: center;

  
}
.topbar{
  width: min(80em,80vw);
  margin-bottom: clamp(2em,2vw,3em) ;
  text-align: center;

  
}

#search-input {
  flex-grow: 1;
  padding:clamp(0.7em,0.5vw,1em) ;
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
  background: none;
  color: var(--text-color);
  position: relative;


}
#search-input:focus{
  outline: none;
}

.search-icon{
  position: absolute;
  top: 18.6vw;
  left: 46.5vw;
  pointer-events: none;
 

  
}

small{
  color: var(--secondary-color);
  max-width: 10%;
  padding: clamp(0.5em,1vw,1em);
  margin-left: clamp(2em,1vw,4em);
  background: none;
  font-size:clamp(0.6em,1vw,1em) ;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 200ms ease;

}
small:hover{
  color: var(--text-color);
  scale: 1.1;

}
#clear-all {
  padding:clamp(0.7em,0.5vw,1em) ;
  margin-left: 10px;
}

body.dark {
  --backgroun-color:#121212;
  --primary-color:#1e1e1e;
  --secondary-color:#4a4d57;
  --accent-color:#00ffca;
  --text-color:#f9f9f9;
}

body.light {
--backgroun-color:#f9f6f3;
  --primary-color:#ffffff;
  --secondary-color:#a0a5b1;
  --secondary-color-2:#4a4d57;
  --accent-color:#00c6a7;
  --text-color:#1a1a1a;
}

.theme-btn {
  background: none;
  border: none;
  cursor: pointer;
}

button {
  background-color: var(--accent-color);
  border: none;
  border-radius: clamp(1em,1vw,2em);
  color: var(--backgroun-color);
  font-weight: 700;
  padding: 12px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}



#todo-input{
  box-sizing: border-box;
  padding: clamp(0.55em,0.5vw,0.9em) clamp(3em,10vw,10em) ;
  width: 100%;
  background: none;
  border-radius: 1000px;
  font:inherit ;
  border: 2px solid var(--secondary-color) ;
  color: var(--text-color);
  caret-color: var(--accent-color);
  
}
#todo-input:focus{
  outline: none;
}
#add-button:focus{
  outline: none;
}
h1{
  color: var(--accent-color);
  font-size: clamp(2rem , 5vw +1rem ,5rem);
  font-weight: 800;
  margin-top: clamp(3em,2vw,5em);
  margin-bottom: clamp(1em,2vw,2em);
  text-align: center;
  text-transform: uppercase;

}
#add-button{
  padding: 0 30px;
  margin-right: -2em;
  background-color: var(--accent-color);
  color: var(--backgroun-color);
  border: none;
  border-radius: 1000px;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0; 
  font-weight: 600;
  cursor: pointer;
  
}
#todo-list{
  list-style: none;
}

.todo{
  
  margin-bottom: 10px;
  padding: 0 clamp(0.25em,0.5vw,0.95em);
  background-color: var(--primary-color);
  border-radius: 15px;
  display: flex;
  align-items: center;
  width: 100%;
}
.todo .todo-text{
  width: clamp(10em,12vw,65em);
  color:var(--secondary-color-2) ;
  padding: clamp(0.2em,0.5vw,2em);
  padding-right:0 ;
  flex-grow: 1;
  transition: 200ms ease;
}
.delete-button{
  max-width: 10%;
  padding: clamp(0.2em,1vw,1em);
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.delete-button svg{
  transition: 200ms ease;
}
.delete-button:hover svg{
  fill: #ff0033;
  scale: 1.1;

}
.edit-button{
  max-width: 10%;
  margin-left:clamp(0.9em,0.8vw,3em) ;
  padding: clamp(0.5em,1vw,1em);
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.edit-button svg{
  
  transition: 200ms ease;
}
.edit-button:hover svg{
  fill: var(--accent-color);
  scale: 1.1;

}
.edit-input{
  box-sizing: border-box;
   padding: 0 clamp(0.25em,0.5vw,0.95em);
  width: 100%;
  background: none;
  border-radius: 1000px;
  font:inherit ;
  border: 1px solid var(--secondary-color) ;
  color: var(--text-color);
  text-align: start;
  caret-color: var(--accent-color);
}
.edit-input:focus{
  outline: none;
}
.custom-checkbox{
  max-width: 10%;
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  min-height: 20px;
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 0.3em;
  transition: 200ms ease;
  
}
input[type="checkbox"]:checked~ .custom-checkbox{
  background-color: var(--accent-color);
}
input[type="checkbox"]:checked~ .custom-checkbox svg{
 fill: var(--primary-color);
}
input[type="checkbox"]:checked~ .todo-text{
 text-decoration: line-through;
 color: var(--secondary-color);
}
input[type="checkbox"]{
  display: none;
}
@media (max-width:399px){
  .search-icon{
  position: absolute;
  top:60vw;
  left: 65vw;
  pointer-events: none;
  
 

  
}

}

@media (max-width:500px){
  .search-icon{
  position: absolute;
  top: 51vw;
  left: 40vw;
  pointer-events: none;
  
 

  
}
#add-button{
   position: unset;
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  height: auto;
}

}

